<br>
<div>
  <button nz-button [nzType]="'primary'" style="float:right" (click)="addRentDetail()">
    <i class="anticon anticon-plus"></i>
    <span>新增房間</span>
  </button>
  <div class="search-bar inline-block">
    <nz-input [(ngModel)]='inputValue' nzPlaceHolder="房號"></nz-input>
    <button nz-button [nzType]="'primary'" (click)="search()">
      <i class="anticon anticon-search"></i>
      <span>查詢</span>
    </button>
  </div>
</div>
<br>
<nz-table #nzTable [nzAjaxData]="data" [nzLoading]="_loading" [nzIsPagination]="false">
  <thead nz-thead>
    <tr>
      <th nz-th nzExpand style="text-align:center"></th>
      <th nz-th style="text-align:center">
        <span>房號</span>
      </th>
      <th nz-th style="text-align:center">
        <span>房客姓名</span>
      </th>
      <th nz-th style="text-align:center">
          <span>每月房租</span>
        </th>
      <th nz-th style="text-align:center">
        <span>租約起始時間</span>
      </th>
      <th nz-th style="text-align:center">
        <span>租約結束時間</span>
      </th>
      <th nz-th style="text-align:center">
        <span>入住時間</span>
      </th>
      <th nz-th style="text-align:center">
        <span>搬離時間</span>
      </th>
      <th nz-th style="text-align:center">
        <span>動作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr nz-tbody-tr>
        <td nz-td nzExpand>
          <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
        </td>
        <td nz-td style="text-align:center">{{data.RoomNo}}</td>
        <td nz-td style="text-align:center">{{data.UserDetails[0].UserName}}</td>
        <td nz-td style="text-align:center">{{data.RentMonthly}}</td>
        <td nz-td style="text-align:center">{{data.RentStartDate | amDateFormat: 'YYYY-MM-DD'}}</td>
        <td nz-td style="text-align:center">{{data.RentEndDate | amDateFormat: 'YYYY-MM-DD'}}</td>
        <td nz-td style="text-align:center">{{data.EnterDate | amDateFormat: 'YYYY-MM-DD'}}</td>
        <td nz-td style="text-align:center">{{data.LeaveDate | amDateFormat: 'YYYY-MM-DD'}}</td>
        <td nz-td style="text-align:center">
          <a routerLink="/rent/payflow" [queryParams]="{RoomNo: data.RoomNo}">編輯</a>
          <span nz-table-divider></span>
          <span>
            <a routerLink="/rent/payflow" [queryParams]="{RoomNo: data.RoomNo}">查詢繳費金流</a>
          </span>
        </td>
      </tr>
      <tr nz-tbody-tr *ngIf="data.expand">
        <td nz-td style="text-align:center"></td>
        <td nz-td colspan="3" style="vertical-align: text-top;">
          <h2>房客資訊</h2>
          <br> 有線電視費用
          <span nz-table-divider></span>{{data.UserDetails[0].TVCost}}
          <br>
          <br>
          <div [ngSwitch]="data.UserDetails[0].CalculateType">
            繳費種類
            <p nz-table-divider></p>
            <p *ngSwitchCase="1">正常繳</p>
            <p *ngSwitchCase="2">6個月躉繳減一個月的1/4房租</p>
            <p *ngSwitchCase="3">正常繳+有線電視費用</p>
            <p *ngSwitchCase="4">6個月躉繳減一個月的1/4房租+有線電視費用</p>
            <p *ngSwitchDefault>無此繳費種類</p>
          </div>
          <br> 性別
          <span nz-table-divider></span>{{data.UserDetails[0].Sex}}
          <br>
          <br> 生日
          <span nz-table-divider></span>{{data.UserDetails[0].Birth | amDateFormat:'YYYY-MM-DD'}}
          <br>
          <br> 電話
          <span nz-table-divider></span>{{data.UserDetails[0].Phone}}
          <br>
          <br> 身分證字號
          <span nz-table-divider></span>{{data.UserDetails[0].IDCardNo}}
          <br>
          <br> 地址
          <span nz-table-divider></span>{{data.UserDetails[0].Address}}
          <br>
          <br> 職業
          <span nz-table-divider></span>{{data.UserDetails[0].Career}}
          <br>
          <br> 緊急聯絡人
          <span nz-table-divider></span>{{data.UserDetails[0].ContactUser}}
          <br>
          <br> 緊急聯絡人電話
          <span nz-table-divider></span>{{data.UserDetails[0].ContactUserPhone}}
          <br>
          <br> lineID
          <span nz-table-divider></span>{{data.UserDetails[0].LineID}}
          <br>
        </td>
        <td nz-td colspan="6" style="vertical-align: text-top;">
          <h2>該房客繳交狀況</h2>
          <br>
          <ng-template ngFor let-item [ngForOf]="data.UserDetails[0].PayFlows">
            房號
            <span nz-table-divider></span>{{item.RoomNo}}
            <br> 使用電量
            <span nz-table-divider></span>{{item.PowerQty}}
            <br>租期
            <span nz-table-divider></span>{{item.RentPeriod| amDateFormat:'YYYY-MM'}}
            <br>繳交時間
            <span nz-table-divider></span>
            <nz-tag *ngIf="item.TimeOfPayment" [nzColor]="'#2db7f5'">
              {{item.TimeOfPayment | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
            </nz-tag>
            <nz-tag *ngIf="!item.TimeOfPayment" [nzColor]="'#f50'">
              <span>尚未繳交</span>
            </nz-tag>
            <br> 應繳金額
            <span nz-table-divider></span>{{item.Payment}}
            <br>
            <br>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
<nz-pagination class="float-right" [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="pageSize" nzSize="small" (nzPageIndexChange)="pageChange($event)"
  nzShowQuickJumper nzShowTotal>
</nz-pagination>