<br>
<div nz-row>
  <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
  </div>
  <div nz-col [nzXs]="{ span: 15, offset: 0 }" [nzLg]="{ span: 12, offset: 0 }">
    <form nz-form [formGroup]="form" (ngSubmit)="submit($event, form.value)">
      <div nz-form-item nz-row style="text-align:center">
        <div nz-form-label nz-col [nzSpan]="7">
          <h1>{{Title}}</h1>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>房客姓名</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-select formControlName="UserID" style="width: 120px;" [(ngModel)]="selectedOption" [nzPlaceHolder]="'請選擇房客姓名'"
            nzAllowClear>
            <nz-option *ngFor="let option of options" [nzLabel]="option.UserName" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="form.controls.UserID.dirty && form.controls.UserID.hasError('required')">請選擇 房客姓名!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>房間號碼</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-input formControlName="RoomNo" [nzType]="'text'" [nzPlaceHolder]="''" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="form.controls.RoomNo.dirty && form.controls.RoomNo.hasError('required')">請輸入 房間號碼!</div>
          <div nz-form-explain *ngIf="getFormControl('RoomNo').dirty&&getFormControl('RoomNo').hasError('RoomNo')">請輸入 數字!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>租約起始時間</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-datepicker formControlName="RentStartDate" [nzSize]="'large'" [nzPlaceHolder]="'選擇日期'" style="width: 100%;" [(ngModel)]="RentStartDate"></nz-datepicker>
          <div nz-form-explain *ngIf="form.controls.RentStartDate.dirty && form.controls.RentStartDate.hasError('required')">請輸入 租約起始時間!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>租約結束時間</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-datepicker formControlName="RentEndDate" [nzSize]="'large'" [nzPlaceHolder]="'選擇日期'" style="width: 100%;" [(ngModel)]="RentEndDate"></nz-datepicker>
          <div nz-form-explain *ngIf="form.controls.RentEndDate.dirty && form.controls.RentEndDate.hasError('required')">請輸入 租約結束時間!</div>
          <div nz-form-explain *ngIf="form.controls.RentEndDate.dirty && form.controls.RentEndDate.hasError('RentPeriod')">租約結束時間不應早於租約起始時間!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>每度電價</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-input formControlName="PowerUnitCost" [nzType]="'number'" [nzPlaceHolder]="''" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="form.controls.PowerUnitCost.dirty && form.controls.PowerUnitCost.hasError('required')">請輸入 每度電價!</div>
          <div nz-form-explain *ngIf="getFormControl('PowerUnitCost').dirty&&getFormControl('PowerUnitCost').hasError('PowerUnitCost')">請輸入大於0的數字!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>每月房租</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-input formControlName="RentMonthly" [nzType]="'float'" [nzPlaceHolder]="''" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="form.controls.RentMonthly.dirty && form.controls.RentMonthly.hasError('required')">請輸入 每月房租!</div>
          <div nz-form-explain *ngIf="getFormControl('RentMonthly').dirty&&getFormControl('RentMonthly').hasError('RentMonthly')">請輸入大於0的數字!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>搬入日期</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-datepicker formControlName="EnterDate" [nzSize]="'large'" [nzPlaceHolder]="'選擇日期'" style="width: 100%;"></nz-datepicker>
          <div nz-form-explain *ngIf="form.controls.EnterDate.dirty && form.controls.EnterDate.hasError('required')">請輸入 搬入日期!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label nz-form-item-required>搬離日期</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control>
          <nz-datepicker nz-tooltip="入住請勿填寫!!" formControlName="LeaveDate" [nzSize]="'large'" [nzPlaceHolder]="'選擇日期'" style="width: 100%;"></nz-datepicker>
          <div nz-form-explain *ngIf="form.controls.LeaveDate.dirty && form.controls.LeaveDate.hasError('required')">請輸入 搬離日期!</div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!form.valid">送出</button>
        </div>
      </div>
    </form>
  </div>
  <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
  </div>
</div>