<br>
<div>
  <button nz-button [nzType]="'primary'" style="float:right" (click)="addUserDetail()">
    <i class="anticon anticon-plus"></i>
    <span>新增房客</span>
  </button>
  <div class="search-bar inline-block">
    <nz-input [(ngModel)]='inputValue' nzPlaceHolder="房客姓名"></nz-input>
    <button nz-button [nzType]="'primary'" (click)="search()">
      <i class="anticon anticon-search"></i>
      <span>查詢</span>
    </button>
  </div>
</div>
<br>
<nz-table #nzTable [nzAjaxData]="data" [nzLoading]="_loading" [nzIsPagination]="false">
  <thead nz-thead>
    <tr>
      <th nz-th nzExpand style="text-align:center"></th>
      <th nz-th style="text-align:center">
        <span>流水號</span>
      </th>
      <th nz-th style="text-align:center">
        <span>房客姓名</span>
      </th>
      <th nz-th style="text-align:center">
        <span>生日</span>
      </th>
      <th nz-th style="text-align:center">
        <span>性別</span>
      </th>
      <th nz-th style="text-align:center">
        <span>住址</span>
      </th>
      <th nz-th style="text-align:center">
        <span>身份證字號</span>
      </th>
      <th nz-th style="text-align:center">
        <span>手機號碼</span>
      </th>
      <th nz-th style="text-align:center">
        <span>緊急聯絡人</span>
      </th>
      <th nz-th style="text-align:center">
        <span>緊急聯絡人電話</span>
      </th>
      <th nz-th style="text-align:center">
        <span>LineID</span>
      </th>
      <th nz-th style="text-align:center">
        <span>動作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr nz-tbody-tr>
        <td nz-td nzExpand>
          <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
        </td>
        <td nz-td style="text-align:center">{{data.UserID}}</td>
        <td nz-td style="text-align:center">{{data.UserName}}</td>
        <td nz-td style="text-align:center">{{data.Birth | amDateFormat: 'YYYY-MM-DD'}}</td>
        <td nz-td style="text-align:center">{{data.Sex}}</td>
        <td nz-td style="text-align:center">{{data.Address}}</td>
        <td nz-td style="text-align:center">{{data.IDCardNo}}</td>
        <td nz-td style="text-align:center">{{data.Phone}}</td>
        <td nz-td style="text-align:center">{{data.ContactUser}}</td>
        <td nz-td style="text-align:center">{{data.ContactUserPhone}}</td>
        <td nz-td style="text-align:center">{{data.LineID}}</td>
        <td nz-td style="text-align:center">
          <a routerLink="/rent/userDetail-action" [queryParams]="{UserID: data.UserID}">編輯</a>
          <span nz-table-divider></span>
          <span>
            <a routerLink="/rent/payflow" [queryParams]="{UserID: data.UserID}">查詢繳費金流</a>
          </span>
        </td>
      </tr>
      <tr nz-tbody-tr *ngIf="data.expand">
        <td nz-td style="text-align:center"></td>
        <td nz-td colspan="11" *ngIf="!data.RentDetail" style="text-align:center">尚未選擇房間</td>
        <td nz-td colspan="11" *ngIf="data.RentDetail" style="vertical-align: text-top;">
          房號
          <span nz-table-divider></span>{{data.RentDetail.RoomNo}}
          <br>
          <br> 租約起始日期
          <span nz-table-divider></span>{{data.RentDetail.RentStartDate | amDateFormat:'YYYY-MM-DD'}}
          <br>
          <br> 租約結束日期
          <span nz-table-divider></span>{{data.RentDetail.RentEndDate | amDateFormat: 'YYYY-MM-DD'}}
          <br>
          <br> 每月房租
          <span nz-table-divider></span>{{data.RentDetail.RentMonthly}}
          <br>
          <br> 有線電視費用
          <span nz-table-divider></span>
          <p *ngIf="data.TVCost">{{data.TVCost}}</p>
          <p *ngIf="!data.TVCost">無</p>
          <br>
          <div [ngSwitch]="data.CalculateType">
            繳費種類
            <p nz-table-divider></p>
            <p *ngSwitchCase="1">正常繳</p>
            <p *ngSwitchCase="2">6個月躉繳減一個月的1/4房租</p>
            <p *ngSwitchCase="3">正常繳+有線電視費用</p>
            <p *ngSwitchCase="4">6個月躉繳減一個月的1/4房租+有線電視費用</p>
            <p *ngSwitchDefault>無此繳費種類</p>
          </div>
          <br> 搬入日期
          <span nz-table-divider></span>{{data.RentDetail.EnterDate | amDateFormat: 'YYYY-MM-DD'}}
          <br>
          <br> 搬離日期
          <span nz-table-divider></span>{{data.RentDetail.LeaveDate | amDateFormat: 'YYYY-MM-DD'}}
          <br>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
<nz-pagination class="float-right" [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="pageSize" nzSize="small" (nzPageIndexChange)="pageChange($event)"
  nzShowQuickJumper nzShowTotal>
</nz-pagination>