<br>
<div>
  <ng-template *ngIf="searchType" ngFor let-data [ngForOf]="nzTable.data" let-i="index">
    <h2 *ngIf="searchType=='UserID' && i==0">房客{{data.UserName}}繳費紀錄</h2>
    <h2 *ngIf="searchType=='RoomNo' && i==0">房號{{data.RoomNo}}繳費紀錄</h2>
  </ng-template>
  <div class="search-bar inline-block" *ngIf="!searchType">
    <nz-input [(ngModel)]='inputValue' nzPlaceHolder="房號"></nz-input>
    <button nz-button [nzType]="'primary'" (click)="search()">
      <i class="anticon anticon-search"></i>
      <span>查詢</span>
    </button>
  </div>
</div>
<br>
<nz-table #nzTable [nzAjaxData]="data" [nzLoading]="_loading" [nzIsPagination]="false">
  <thead nz-thead>
    <tr>
      <th nz-th nzExpand></th>
      <th nz-th>
        <span>流水號</span>
      </th>
      <th nz-th>
        <span>UserID</span>
      </th>
      <th nz-th>
        <span>房號</span>
      </th>
      <th nz-th>
        <span>使用電量</span>
      </th>
      <th nz-th>
        <span>應繳金額</span>
      </th>
      <th nz-th>
        <span>租期</span>
      </th>
      <th nz-th>
        <span>繳交時間</span>
      </th>
      <th nz-th>
        <span>新增者</span>
      </th>
      <th nz-th>
        <span>新增時間</span>
      </th>
      <th nz-th>
        <span>修改者</span>
      </th>
      <th nz-th>
        <span>修改時間</span>
      </th>
      <th nz-th>
        <span>動作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr nz-tbody-tr>
        <td nz-td nzExpand>
          <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
        </td>
        <td nz-td>{{data.ID}}</td>
        <td nz-td>{{data.UserID}}</td>
        <td nz-td>{{data.RoomNo}}</td>
        <td nz-td>{{data.PowerQty}}</td>
        <td nz-td>{{data.Payment}}</td>
        <td nz-td>{{data.RentPeriod | amDateFormat: 'YYYY-MM'}}</td>
        <td nz-td>
          <nz-tag *ngIf="data.TimeOfPayment" [nzColor]="'#2db7f5'">
            {{data.TimeOfPayment | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
          </nz-tag>
        </td>
        <td nz-td>{{data.CreateUser}}</td>
        <td nz-td>{{data.CreateDate | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
        <td nz-td>{{data.ModifyUser}}</td>
        <td nz-td>{{data.ModifyDate | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
        <td nz-td>
          <button *ngIf="data.TimeOfPayment" nz-button [nzType]="'primary'" disabled>
            <span>繳費</span>
          </button>
          <button *ngIf="!data.TimeOfPayment" nz-button [nzType]="'primary'" (click)="payMoney(data.ID)">
            <span>繳費</span>
          </button>
        </td>
      </tr>
      <tr nz-tbody-tr *ngIf="data.expand">
        <td nz-td></td>
        <td nz-td colspan="3">
          <h2>房客資訊</h2>
          <br>
          <br> 房客姓名
          <span nz-table-divider></span>{{data.UserDetail.UserName}}
          <br>
          <br> 性別
          <span nz-table-divider></span>{{data.UserDetail.Sex}}
          <br>
          <br> 生日
          <span nz-table-divider></span>{{data.UserDetail.Birth | amDateFormat:'YYYY-MM-DD'}}
          <br>
          <br> Email
          <span nz-table-divider></span>{{data.UserDetail.Email}}
          <br>
          <br> 電話
          <span nz-table-divider></span>{{data.UserDetail.Phone}}
          <br>
          <br> 身分證字號
          <span nz-table-divider></span>{{data.UserDetail.IDCardNo}}
          <br>
          <br> 地址
          <span nz-table-divider></span>{{data.UserDetail.Address}}
          <br>
          <br> 職業
          <span nz-table-divider></span>{{data.UserDetail.Career}}
          <br>
          <br> 緊急聯絡人
          <span nz-table-divider></span>{{data.UserDetail.ContactUser}}
          <br>
          <br> 緊急聯絡人電話
          <span nz-table-divider></span>{{data.UserDetail.ContactUserPhone}}
          <br>
        </td>
        <td nz-td colspan="6">
          <h2>租約細節</h2>
          <br>
          <br> 繳費種類
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.CalculateType}}
          <br>
          <br> 租約起始時間
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.RentEndDate | amDateFormat:'YYYY-MM-DD'}}
          <br>
          <br> 租約結束時間
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.RentEndDate | amDateFormat:'YYYY-MM-DD'}}
          <br>
          <br> 每度電單價
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.PowerUnitCost}}
          <br>
          <br> 每月房租
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.RentMonthly}}
          <br>
          <br> 搬入時間
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.EnterDate | amDateFormat:'YYYY-MM-DD'}}
          <br>
          <br> 搬離時間
          <span nz-table-divider></span>{{data.UserDetail.RentDetail.LeaveDate | amDateFormat:'YYYY-MM-DD'}}
          <br>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
<nz-pagination class="float-right" [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="pageSize" nzSize="small" (nzPageIndexChange)="pageChange($event)"
  nzShowQuickJumper nzShowTotal>
</nz-pagination>